<app-header></app-header>
<div class="grid grid-rows-[1fr,0.5fr,1fr,2fr] gap-4 p-20 px-[5%] p w-[85%] m-auto justify-items-center mb-20">
  <div> <a href=""><img src="\assets\images\banner1.png" alt=""></a>
  </div>

  <div class="text-center pt-[4vh]">

    <p class="pb-2">Shop what you love-faster and easier</p>

    <button class="outline outline-black p-4">Sign in or Create an Account</button>

  </div>
  <div> <a href=""> <img class="object-cover" src="\assets\images\banner2.png" alt=""></a>
  </div>
  <div class="grid grid-cols-[1.1fr,0.5fr] pt-20">
    <div><img src="\assets\images\carouselimg1.png" alt="" class="object-cover"></div>
    <div class="bg-black">some text</div>

  </div>
</div>
<app-footer></app-footer>