<app-header></app-header>

<div class="hero h-full grid grid-cols-[1fr,3fr] my-[10vh]">
    <div>
        <div class="border border-b-0 border-t-0 border-r-grey w-[50%] h-full font-inter font-bold text-[1rem] ">
            <div class="grid h-[25vh] p-8 gap-4 ">
                <div class=" "> <input type="checkbox" name=""> Tops</div>
                <div class=" "> <input type="checkbox" name=""> Bottoms</div>
                <div class=" "> <input type="checkbox" name=""> Shoes</div>
            </div>
        </div>


    </div>
    <div class=" h-full grid grid-cols-3 font-inter content-end">
        <div class="card" *ngFor="let item of items" class="h-[50vh] w-[250px] font-inter cursor-pointerz">
            <div> <img [src]="item.url" alt="" class="h-[32vh]"></div>
            <div class="grid">
                <span class="font-extrabold text-[1.3rem]">{{item.name}}</span>
                <span class="font-extralight truncate ... ">{{item.description}}</span>
                <span class="font-bold text-[1rem]">{{item.price | currency}}</span>

                <button
                    class="outline-none opacity-0.5 outline-black hover:opacity-100 hover:bg-black hover:text-white">View
                    Details</button>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>